<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<material name="green">
		<color rgba="0.2 1 0.2 1"/>
	</material>

	<material name="blue">
		<color rgba="0.2 0.2 1 1"/>
	</material>

	<material name="red">
		<color rgba="1 0.2 0.2 1"/>
	</material>

	<material name="yellow">
		<color rgba="0.8 0.8 0.1 1"/>
	</material>

	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>

	<gazebo reference="base_link">
		<material>Gazebo/Green</material>
	</gazebo>

	<gazebo reference="rotator_link">
		<material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="arm1_link">
		<material>Gazebo/Red</material>
	</gazebo>

	<gazebo reference="arm2_link">
		<material>Gazebo/Yellow</material>
	</gazebo>

	<gazebo reference="gripperBase_link">
		<material>Gazebo/White</material>
	</gazebo>

</robot>
